<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
              <p class="text-white-50 mb-5">Welcome!</p>
              <form [formGroup]="signUpForm">
                <div class="form-floating mb-4">
                  <input
                    type="text"
                    id="typeFullName"
                    class="form-control bg-dark text-white"
                    placeholder="Enter fullname"
                    formControlName="fullname"
                    [ngClass]="{
                      'is-invalid':
                        signUpForm.get('fullname')?.errors &&
                        signUpForm.get('fullname')?.touched
                    }"
                  />
                  <label for="typeFullName" class="text-white">FullName</label
                  >@if(signUpForm.get('fullname')?.errors?.required &&
                  signUpForm.get('fullname')?.touched) {
                  <div class="invalid-feedback">*Name is required</div>
                  }
                </div>
                <div class="form-floating mb-4">
                  <input
                    type="email"
                    id="typeEmailX"
                    class="form-control bg-dark text-white"
                    placeholder="Enter email"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        signUpForm.get('email')?.errors &&
                        signUpForm.get('email')?.touched
                    }"
                  />
                  <label for="typeEmailX" class="text-white">Email</label>
                  @if(signUpForm.get('email')?.errors?.required &&
                  signUpForm.get('email')?.touched){
                  <div class="invalid-feedback">*Email is required</div>
                  }@else if(signUpForm.get('email')?.errors?.email &&
                  signUpForm.get('email')?.touched){
                  <div class="invalid-feedback text-start">
                    *Email is invalid
                  </div>
                  }
                </div>

                <div class="form-floating mb-4">
                  <input
                    type="text"
                    id="typeMobile"
                    class="form-control bg-dark text-white"
                    placeholder="Enter mobile"
                    formControlName="mobile"
                    [ngClass]="{
                      'is-invalid':
                        signUpForm.get('mobile')?.errors &&
                        signUpForm.get('mobile')?.touched
                    }"
                  />
                  <label for="typeMobile" class="text-white">Mobile</label
                  >@if(signUpForm.get('mobile')?.errors?.required &&
                  signUpForm.get('mobile')?.touched) {
                  <div class="invalid-feedback">*Mobile Number is required</div>
                  }
                </div>

                <div class="form-floating mb-4">
                  <input
                    type="text"
                    id="typeAddress"
                    class="form-control bg-dark text-white"
                    placeholder="Enter address"
                    formControlName="address"
                    [ngClass]="{
                      'is-invalid':
                        signUpForm.get('address')?.errors &&
                        signUpForm.get('address')?.touched
                    }"
                  />
                  <label for="typeAddress" class="text-white">Address</label
                  >@if(signUpForm.get('address')?.errors?.required &&
                  signUpForm.get('address')?.touched) {
                  <div class="invalid-feedback">*Address is required</div>
                  }
                </div>

                <div class="form-floating mb-4">
                  <input
                    type="text"
                    id="typeUserName"
                    class="form-control bg-dark text-white"
                    placeholder="Enter username"
                    formControlName="username"
                    [ngClass]="{
                      'is-invalid':
                        signUpForm.get('username')?.errors &&
                        signUpForm.get('username')?.touched
                    }"
                  />
                  <label for="typeUserName" class="text-white">UserName</label
                  >@if(signUpForm.get('username')?.errors?.required &&
                  signUpForm.get('username')?.touched) {
                  <div class="invalid-feedback">*UserName is required</div>
                  }
                </div>

                <div class="form-floating mb-4">
                  <input
                    type="password"
                    id="typePasswordX"
                    class="form-control bg-dark text-white"
                    placeholder="Enter password"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid':
                        signUpForm.get('password')?.errors &&
                        signUpForm.get('password')?.touched
                    }"
                  />
                  <label for="typePasswordX" class="text-white">Password</label>
                  @if(signUpForm.get('password')?.errors?.required &&
                  signUpForm.get('password')?.touched){
                  <div class="invalid-feedback text-start">
                    *Password is required
                  </div>
                  }
                </div>

                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                  [disabled]="!signUpForm.valid"
                  (click)="onSubmit()"
                >
                  Register
                </button>
              </form>
            </div>

            <div>
              <p class="mb-0">
                Already have an account?
                <a href="#!" class="text-white-50 fw-bold">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
